<template>
  <div class="container">
    <ul v-for="employee in employeeList" :key="employee.id">
      <li>{{ employee.name }}</li>
      <li>{{ employee.address }}</li>
      <li>{{ employee.phone }}</li>
      <li v-for="fa in employee.family" :key="fa.id"><span>{{ fa.wife }}</span>, <span> {{ fa.child }}</span></li>
    </ul>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: "errorcomp",
  data () {
    return {
  employeeList: [
    {
      id: 1,
      name: "Employee 1",
      address: "Hanoi",
      phone: "0987257590",
      family: [{ wife: "Phương", child: "Phúc" }]
    },
    {
      id: 2,
      name: "Employee 2",
      address: "London",
      phone: "0933388813",
    },
    {
      id: 3,
      name: "Employee 3",
      address: "Tokyo",
      phone: "0978353675",
    },
  ],
};
  }
}
</script>
<script>
$(document).ready(function () {
  $(".checkbtn").click(function () {
    $("span").toggleClass("fa-times");
  });
});
</script>