<template>
  <section class="container2-test">
    <img :src="image" alt="Base 64 encoded image" />
    <ul>
      <li v-for="post in posts" :key="post.id">
        {{ post.title }}
      </li>
    </ul>
  </section>
</template>

<script>
import axios from 'axios'
export default {
  name: 'apibacktest',
  data () {
    return {
      posts: [],
      image: ''
    }
  },
  mounted (step) {
    this.image = ''
    axios({
      method: 'get',
      url: 'http://jsonplaceholder.typicode.com/photos',
      headers: {
        'Content-type': 'image/jpeg'
      },
      params: {
        id: step.id
      }
    }).then((response) => {
      this.image = 'data:image/jpg;base64,'
        .concat(this.image.concat(response.data))
    })
    this.$http
      .get('http://jsonplaceholder.typicode.com/posts')
      .then(function (res) {
        this.posts = res.data
      })
  }
}
</script>

<style>
.container2-test {
  color: black;
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.container2-test li {
  list-style: none;
  background-color: teal;
  padding: 10px 0px;
  margin: 10px 0px;
  color: white;
}
</style>
