<template>
  <section v-if="errored" class="errordoc">Not found document</section>
  <section v-else class="coin-api">
    <p v-if="loading" class="loader">Loading...</p>
    <div v-else v-for="current in info" :key="current.id" class="currency">
      <span>{{ current.description }}:</span>
      <span class="lighten">
        <span v-html="current.symbol"></span
        >{{ current.rate_float | currentdecimal }}
      </span>
    </div>
    <ul>
      <li><a href="coin/error">Error</a></li>
    </ul>
    <div id="dynamic-component-demo" class="demo">
      <button
        v-for="tab in tabs"
        v-bind:key="tab.name"
        v-bind:class="['tab-button', { active: currentTab.name === tab.name }]"
        v-on:click="currentTab = tab"
      >
        {{ tab.name }}
      </button>
      <component v-bind:is="currentTab.component" class="tab"></component>
    </div>
    <!-- <div v-bind:class="classObject">ff</div> -->
    <!-- <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">abc</div> -->
    <!-- <div v-bind:style="[baseStyles, overridingStyles]">adv</div> -->
  </section>
</template>

<script>
import axios from 'axios'
var tabs = [
  {
    name: 'Trang chủ',
    component: {
      template: '<div>Trang chủ</div>'
    }
  },
  {
    name: 'Bài viết',
    component: {
      template: '<div>Bài viết</div>'
    }
  },
  {
    name: 'Lưu trữ',
    component: {
      template: '<div>Lưu trữ</div>'
    }
  }
]
export default {
  name: 'coinapi',
  data () {
    return {
      info: null,
      errored: false,
      loading: true,
      error: '',
      tabs: tabs,
      currentTab: tabs[0]
      // baseStyles: {color: 'blue', background: 'red'},
      // overridingStyles: {fontSize: '50px'}
      // activeColor: 'red',
      // fontSize: 30
      // isActive: true,
      // error: null
    }
  },
  mounted () {
    axios
      .get('https://api.coindesk.com/v1/bpi/currentprice.json')
      .then((response) => {
        this.info = response.data.bpi
      })
      .catch((error) => {
        console.log('Concac' + error)
        this.errored = true
      })
      .finally(() => {
        this.loading = false
      })
  }
// computed: {
//   classObject: function () {
//     return {
//       active: this.isActive && !this.error,
//       'text-danger': this.error && this.error.type === 'fatal'
//     }
//   }
// }
}
</script>

<style>
.coin-api {
  color: black !important;
  font-size: 20px;
  margin: 20px 0px !important;
  width: 100%;
  text-align: left;
  list-style: none;
}
section.errordoc {
  color: black !important;
  font-size: 20px;
  margin: 20px 0px !important;
}
.tab-button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}
.tab-button:hover {
  background: #e0e0e0;
}
.tab-button.active {
  background: #e0e0e0;
}
.tab {
  border: 1px solid #ccc;
  padding: 10px;
}
</style>
