<template>
  <header>
    <comp-input> </comp-input>
    <comp-list> </comp-list>
    <!-- <div class="vuong" @click="quanlido = !quanlido" :class="{do: quanlido}"> </div>
    <div class="vuong" :class="{do: quanlido}"> </div>
    <div class="vuong" @click="quanlido = !quanlido" :class="{xanh: quanlido}"> </div>
    <div class="vuong" :class="{do: quanlido}"> </div> -->
  </header>
</template>

<script>
/* eslint-disable */ 
import compinput from './compinput'
import complist from './complist'
export default {
  name: 'compheader',
  data () {
    return {
      name: '',
      quanlido: false,
      quanlixanh: false
    }
  },
  components: {
    'comp-input': compinput,
    'comp-list': complist
  }
}
</script>

<style>
.vuong {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 10px;
}
.do {
  background-color: red;
}
.xanh {
  background-color: blue;
}
* {
  padding: 0;
  margin: 0;
}
.table-edit {
  width: 80%;
  color: black;
  margin-bottom: 20px;
  text-align: center;
  min-height: 300px;
  margin: 20px auto;
}
#addnew {
  margin: 20px 0px;
  background-color: rgb(165, 79, 3);
  color: white;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
button#edit {
  background-color: rgb(38, 57, 230);
  color: white;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
}
button#delete {
  background-color: rgb(228, 0, 19);
  color: white;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
}
</style>
