<template>
  <section class="container">
    <!-- <p>{{ $t("common.select_lang") }}</p>
    <div class="item" v-for="lang in optionLangs" :value="lang.value" :key="lang.id" @click.prevent="callSetLangActions"> {{lang.text}}</div> -->
    <!-- <div> <a style="cursor:pointer; color:blue" @click="setLocale('en')"> Anh </a> </div>
    <div> <a style="cursor:pointer; color:red" @click="setLocale('vn')"> Việt </a> </div> -->
    <h1 class="title-addnew">{{ $t('login.title') }}</h1>
    <form action="" method="post">
      <div class="form-group">
        <label for="nameInput"> {{ $t('login.textlabel.name')}} </label>
        <input
          type="text"
          class="form-control"
          id="nameInput"
          name="nameInput"
          @change="nameChanges"
          v-bind:value="$v.name.$model" :class="{ 'is-invalid':$v.name.$error, 'is-valid':!$v.name.$invalid }"
        />
        <em v-if="nameInput.length" class="box-error">
          <p v-for="nameI in nameInput" :key="nameI.id" class="bg-error">
            {{ nameI }}
          </p>
        </em>
        <div class="valid-feedback"> Dữ liệu điền vào hợp lý </div>
        <!-- <div class="invalid-feedback"> <span v-if="!$v.name.minLength"> alo {{$v.name.$params.minLength.min}} ký tự </span> <span v-if="!$v.name.maxLength"> alo {{$v.name.$params.maxLength.max}} 20 kí tự</span> </div> -->
        <div class="error" v-if="!$v.name.maxLength">Tên tối đa là {{$v.name.$params.maxLength.max}} kí tự</div>
        <div class="error" v-if="!$v.name.minLength">Tên tối thiểu {{$v.name.$params.minLength.min}} kí tự</div>
        <!-- <div class="error" v-if="!$v.name.alpha">Tên không được chứa số</div> -->
      </div>
      <div class="form-group">
        <label for="addressInput"> {{ $t('login.textlabel.address')}} </label>
        <input
          type="text"
          class="form-control"
          id="addressInput"
          @change="addressChanges"
          v-bind:value="$v.address.$model" :class="{ 'is-invalid':$v.address.$error, 'is-valid':!$v.address.$invalid }"
        />
        <em v-if="addressInput.length" class="box-error">
          <p v-for="namead in addressInput" :key="namead.id" class="bg-error">
            {{ namead }}
          </p>
        </em>
        <div class="valid-feedback"> Dữ liệu điền vào hợp lý </div>
        <div class="error" v-if="!$v.address.minLength">Địa chỉ tối thiểu là {{$v.address.$params.minLength.min}} kí tự</div>
        <div class="error" v-if="!$v.address.maxLength">Địa chỉ tối đa là {{$v.address.$params.maxLength.max}} kí tự</div>
      </div>
      <div class="form-group">
        <label for="phoneInput"> {{ $t('login.textlabel.phone')}} </label>
        <input
          type="text"
          class="form-control"
          id="phoneInput"
          @change="phoneChanges"
          v-bind:value="$v.phone.$model" :class="{ 'is-invalid':$v.phone.$error, 'is-valid':!$v.phone.$invalid }"
        />
        <em v-if="phoneInput.length" class="box-error">
          <p v-for="nameph in phoneInput" :key="nameph.id" class="bg-error">
            {{ nameph }}
          </p>
        </em>
        <div class="valid-feedback"> Dữ liệu điền vào hợp lý </div>
        <!-- <div class="error" v-if="!$v.phone.minLength && !$v.phone.numeric">Số điện thoại chứa tối đa {{$v.phone.$params.minLength.min}} số và chỉ chứa số</div> -->
        <div class="error" v-if="!$v.phone.numeric">Số điện thoại chỉ chứa chữ số</div>
        <div class="error" v-if="!$v.phone.minLength">Số điện thoại chứa tối thiểu {{$v.phone.$params.minLength.min}} số</div>
        <div class="error" v-if="!$v.phone.maxLength">Số điện thoại chứa tối đa {{$v.phone.$params.maxLength.max}} số</div>
      </div>
      <!-- <input
        type="submit"
        class="btn btn-primary"
        @click="addEmployees"
        value="ADD"
      /> -->
      <button type="submit" class="btn btn-primary" @click="addEmployees"> {{ $t('login.button.create') }}</button>
    </form>
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import { required, minLength, maxLength, numeric } from 'vuelidate/lib/validators'
/* eslint-disable */
export default {
  name: 'compinput',
  data () {
    return {
      nameInput: [],
      addressInput: [],
      phoneInput: [],
      id: Math.floor(Math.random() * 100000),
      name: '',
      address: '',
      phone: '',
      // optionLangs: [
      //   {
      //     text: 'VietNamese',
      //     value: 'vn'
      //   },
      //   {
      //     text: 'English',
      //     value: 'en'
      //   }
      // ]
    }
  },
  validations: {
    name: {
      required,
      minLength: minLength(5),
      maxLength: maxLength(20)
      // alpha
    },
    address: {
      required,
      minLength: minLength(10),
      maxLength: maxLength(30)
    },
    phone: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    }
  },
  methods: {
    setLocale (locale) {
      import(`./../lang/${locale}.json`).then ((msg) => {
        this.$i18n.setLocaleMessage(locale, msg)
        this.$i18n.locale = locale
      })
      // this.$i18n.locale = locale
    },
    callSetLangActions (event) {
      this.$store.dispatch('setL', event.target.getAttribute('value'))
    },
    ...mapActions(['addEmployee']),
    nameChanges (e) {
      this.name = e.target.value
    },
    addressChanges (ec) {
      this.address = ec.target.value
    },
    phoneChanges (ecc) {
      this.phone = ecc.target.value
    },
    addEmployees (es) {
      if (this.name === '') {
        this.nameInput.push('Nhập name vào !')
        Swal({
          title: 'Thêm thất bại',
          text: 'Bạn có muốn thử lại ?',
          type: 'error',
          confirmButtonText: 'OK'
        })
      }
      if (this.address === '') {
        this.addressInput.push('Nhập address vào !')
        Swal({
          title: 'Thêm thất bại',
          text: 'Bạn có muốn thử lại ?',
          type: 'error',
          confirmButtonText: 'OK'
        })
      }
      if (this.phone === '') {
        this.phoneInput.push('Nhập phone vào !')
        Swal({
          title: 'Thêm thất bại',
          text: 'Bạn có muốn thử lại ?',
          type: 'error',
          confirmButtonText: 'OK'
        })
      } else if (this.name === '' || this.address === '' || this.phone === '') {
        console.log('Oke')
      } else {
        this.addEmployee({
          id: Math.floor(Math.random() * 100000),
          name: this.name,
          address: this.address,
          phone: this.phone
        })
        Swal({
          title: 'Thêm thành công',
          text: 'Bạn có muốn tiếp tục ?',
          type: 'success',
          confirmButtonText: 'OK'
        })
      }
      es.preventDefault()
      this.name = ''
      this.address = ''
      this.phone = ''
    }
    // checkForm: function (e) {
    //   this.errorInput = []
    //   if (this.name === '') {
    //     this.errorInput.push('Chưa nhập name !!!')
    //   }
    //   e.preventDefault()
    // }
  }
}
</script>

<style>
.title-addnew {
  color: rgb(10, 49, 2);
}
.container label {
  color: rgb(139, 139, 139);
}
p.bg-error {
  color: red;
  background-color: rgb(252, 216, 216);
  box-sizing: border-box;
  padding: 7px 5px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
}
.error {
  color: red;
  background-color: rgb(252, 216, 216);
  box-sizing: border-box;
  padding: 7px 5px;
  border-radius: 5px;
  font-weight: 600;
  font-style: italic;
  font-size: 15px;
}
.valid-feedback {
  font-size: 15px;
}
/*submit form */
/* .submit-save {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 17px;
  overflow: hidden;
  transition: 0.2s;
}
button.submit-save:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3;
  transition-delay: 1s;
}
.submit-save span {
  position: absolute;
  display: block;
}
span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
button.submit-save:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
button.submit-save:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}
button.submit-save:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
button.submit-save:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
* {
  padding: 0;
  margin: 0;
}
.table-edit {
  width: 80%;
  color: black;
  margin-bottom: 20px;
  text-align: center;
  min-height: 300px;
  margin: 20px auto;
}
#addnew {
  margin: 20px 0px;
  background-color: rgb(165, 79, 3);
  color: white;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
button#edit {
  background-color: rgb(38, 57, 230);
  color: white;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
}
button#delete {
  background-color: rgb(228, 0, 19);
  color: white;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
} */
</style>
