<template>
<div class="apps">
  <td v-if="!editing">{{ employee.name }}</td>
          <td v-else><input
            v-bind:value="$v.name.$model" :class="{ 'is-invalid':$v.name.$error, 'is-valid':!$v.name.$invalid }"
            @change="nameChanges"
            type="text"
            class="form-control"
          /> <div class="valid-feedback"> Dữ liệu điền vào hợp lý </div> <div class="error" v-if="!$v.name.maxLength">Tên tối đa chỉ đươc {{$v.name.$params.maxLength.max}} kí tự</div></td>
          <td v-if="!editing">{{ employee.address }}</td>
          <td v-else><input
            v-bind:value="address"
            @change="addressChanges"
            type="text"
            class="form-control"
          /> <div class="error" v-if="!$v.address.maxLength">Địa chỉ tối đa chỉ đươc {{$v.address.$params.maxLength.max}} kí tự</div> </td>
          <td v-if="!editing">{{ employee.phone }}</td>
          <td v-else><input
            v-bind:value="phone"
            @change="phoneChanges"
            type="number"
            class="form-control"
          /> <div class="error" v-if="!$v.phone.numeric">Số điện thoại chỉ chứa chữ số</div>
            <!-- <div class="error" v-if="!$v.phone.minLength">Số điện thoại chứa tối đa {{$v.phone.$params.minLength.min}} số</div> -->
            <!-- <div class="error" v-if="!$v.phone.maxLength">Số điện thoại chứa tối đa {{$v.phone.$params.maxLength.max}} số</div></td> -->
          <td class="button-actions">
            <button type="submit" @click="updateEmployees(employee)" id="edit">
              {{ editing ? 'Update' : 'Edit' }}
            </button>
            <button
              type="button"
              @click="deleteEmployee(employee.id)"
              id="delete"
            >
              Delete
            </button>
          </td>
</div>
</template>

<script>
/*eslint-disable */
import { mapActions } from 'vuex'
import { required, minLength, maxLength, alpha, numeric } from 'vuelidate/lib/validators'
export default {
  name: 'compitem',
  props: {
    employee: Object
  },
  data () {
    return {
      // employee: null,
      name: '',
      address: '',
      phone: '',
      editing: false
    }
  },
  validations: {
    name: {
      required,
      minLength: minLength(5),
      maxLength: maxLength(20),
      alpha
    },
    address: {
      required,
      minLength: minLength(10),
      maxLength: maxLength(30)
    },
    phone: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    }
  },
  methods: {
    ...mapActions(['deleteEmployee', 'updateEmployee']),
    nameChanges (e) {
      this.name = e.target.value
    },
    addressChanges (ec) {
      this.address = ec.target.value
    },
    phoneChanges (ecc) {
      this.phone = ecc.target.value
    },
    updateEmployees (employee) {
      this.editing = this.editing ? false : true
      if (this.editing) {
        this.name = employee.name
        this.address = employee.address
        this.phone = employee.phone
        this.updateEmployee(employee)
      }
      else if (this.name === '' || this.address === '' || this.phone === '') {
        this.name = employee.name
        this.address = employee.address
        this.phone = employee.phone
        this.editing = true
        Swal({
          title: 'Không bỏ trống dữ liệu!',
          text: 'Bắt đầu sửa lại ?',
          type: 'warning',
          confirmButtonText: 'OK'
        })
      }
      // else if (this.address === '') {
      //   this.address = employee.address
      //   this.editing = true
      //   Swal({
      //     title: 'Không bỏ trống dữ liệu!',
      //     text: 'Bắt đầu sửa lại ?',
      //     type: 'warning',
      //     confirmButtonText: 'OK'
      //   })
      // }
      // else if (this.phone === '') {
      //   this.phone = employee.phone
      //   this.editing = true
      //   Swal({
      //     title: 'Không bỏ trống dữ liệu!',
      //     text: 'Bắt đầu sửa lại ?',
      //     type: 'warning',
      //     confirmButtonText: 'OK'
      //   })
      // }
      else {
        employee.name = this.name
        employee.address = this.address
        employee.phone = this.phone
        this.updateEmployee(employee)
        Swal({
          title: 'Sửa thành công',
          text: 'Bạn có muốn tiếp tục ?',
          type: 'success',
          confirmButtonText: 'OK'
        })
      }
    }
  }
}
</script>

<style>
  h1 {
    color: black;
  }
  .apps {
    width: 100%;
  }
  tbody {
    width: 100%;
    height: 50px !important;
  }
  tbody td {
    width: 20% !important;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    height: 80px;
  }
  td.button-actions {
    min-width: 250px;
  }
  /* td input {
    min-width: 200px;
  } */
  td .form-control {
    min-width: 200px;
    text-align: center;
  }
</style>
