<template>
  <section class="container">
    <h1>COMPINPUT </h1>
    <!-- <div> <button class="btn btn-success"  @click="increment">Increment</button><button class="btn btn-success"  @click="decrement">Decrement</button></div> -->
    <form>
      <div class="form-input">
        <label for="nameInput">Name</label>
        <input type="text" id="nameInput" v-focus v-model="employee.name" />
      </div>
      <div class="form-input">
        <label for="addressInput">Addre</label>
        <input type="text" id="addressInput" v-model="employee.address" />
      </div>
      <div class="form-input">
        <label for="phoneInput">Phone</label>
        <input type="number" id="phoneInput" v-model="employee.phone" />
      </div>
      <div class="btn btn-primary" @click="clickSave()">
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <button class="submit-save">Save</button>
      </div>
    </form>
    <div class="abc" id="api-demo">
      <div v-for="post in posts" :key="post.id" id="demo-content">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>
        <em style="color: red"> {{ error }}</em>
      </div>
    </div>
  </section>
</template>

<script>
import { mapMutations } from 'vuex'
// import axios from 'axios'
export default {
  name: 'comphome',
  data () {
    return {
      posts: [],
      error: ''
    }
  },
  mounted () {
    this.$http
      .get('https://jsonplaceholder.typicode.com/posts')
      .then(function (res) {
        this.posts = res.body
        console.log(res)
      })
      .catch(function (error) {
        console.log('Error:', error)
      })
  },
  // mounted () {
  //   this.$http
  //     .get('http://jsonplaceholder.typicode.com/posts')
  //     .then(function (res) {
  //       this.posts = res.data
  //     })
  //     .catch(function (error) {
  //       this.posts = { error }
  //     })
  // },
  props: {
    employee: Object
  },
  methods: {
    // clickSave () {
    //   this.$emit('savemp', this.employee)
    // },
    // increment () {
    //   this.$store.commit('incrementOp', 45)
    // },
    // decrement () {
    //   this.$store.state.result--
    // }
    ...mapMutations([
      // 'decrement'
    ])
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus()
      }
    }
  }
}
</script>

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container .form-input {
  margin: 20px 0px;
}
#SaveInfo {
  background-color: rgb(255, 230, 5);
  color: white;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  color: rgb(109, 2, 2);
}
#demo-content {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: slategray;
  padding: 10px 5px;
  box-sizing: border-box;
}
/*submit form */
.submit-save {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 17px;
  overflow: hidden;
  transition: 0.2s;
}
button.submit-save:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3;
  transition-delay: 1s;
}
.submit-save span {
  position: absolute;
  display: block;
}
span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
button.submit-save:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
button.submit-save:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}
button.submit-save:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
button.submit-save:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
</style>
