<template>
  <div class="box-todo">
    <!-- <h1>COMPLIST</h1>
    <p>liis is name result: {{ allemployee }}</p> -->
    <table border="collapse" class="table-edit">
      <thead>
        <ul>
          <li>Name</li>
          <li>Address</li>
          <li>Phone</li>
          <li>Action</li>
        </ul>
      </thead>
      <tbody>
        <tr v-for="employee in allemployee" :key="employee.id">
          <compitem :employee="employee"></compitem>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import compitem from './compitem'
import { mapGetters } from 'vuex'
export default {
  name: 'complist',
  components: {
    compitem
  },
  computed: {
    ...mapGetters(['allemployee'])
  }
}
</script>

<style>
* {padding: 0; margin: 0}
h1 {
  color: black;
}
.table-edit {
  width: 75%;
}
.table-edit thead{
  background: rgb(228, 228, 228);
  border-bottom: 1px solid rgb(177, 177, 177);
}
thead ul li {
  width: 10%;
}
tr {
  width: 100%;
}
thead ul {
  width: 80%;
  display: flex;
  list-style: none;
  font-weight: bold;
  justify-content: space-between;
  align-content: center;
  margin: 10px 95px;
  padding: 5px 0px;
  box-sizing: border-box;
}
</style>
