<template>
  <div id="app">
    <button type="button" id="addnew" @click="clickAdd()">Addnew</button>
    <table class="table-edits">
      <thead>
        <tr>
          <th> STT</th>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in employeeList" :index="index" :key="item.id">
          <th> {{index+1}}</th>
          <!-- <th> {{item.id}}</th> -->
          <td class="a">{{ item.name }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.phone }}</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              @click="clickEdit(item)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn-btn-danger"
              @click="clickDelete(item)"
            >
              Delete
            </button>
          </td>
        </tr>
        <tr>
          <th class="hid">Tổng </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <td class="tong">350d</td>
        </tr>
      </tbody>
    </table>
    <div class="contain-box">
      <edit-employee :employee="employee" @save="clickSave" v-if="isEdit">
      </edit-employee>
    </div>
  </div>
</template>

<script>
import EditEmployee from './EditEmployee'
export default {
  name: 'dash',
  data () {
    return {
      employeeList: [
        {
          id: 1,
          name: 'Employee 1',
          address: 'Hanoi',
          phone: '0987257590'
        },
        {
          id: 2,
          name: 'Employee 2',
          address: 'London',
          phone: '0933388813'
        },
        {
          id: 3,
          name: 'Employee 3',
          address: 'Tokyo',
          phone: '0978353675'
        }
      ],
      employee: null,
      isEdit: false
    }
  },
  components: {
    'edit-employee': EditEmployee
  },
  methods: {
    clickAdd () {
      let employee = {
        id: Math.floor(Math.random() * 100000),
        name: '',
        address: '',
        phone: ''
      }
      this.employee = employee
      this.isEdit = true
    },
    clickSave (employee) {
      let index = this.employeeList.findIndex(
        (item) => item.id === employee.id
      )
      if (index >= 0) {
        this.employeeList.splice(index, 1, employee)
      } else {
        this.employeeList.push(employee)
        console.log(employee)
      }
      this.isEdit = false
    },
    clickEdit (employee) {
      this.employee = JSON.parse(JSON.stringify(employee))
      this.isEdit = true
    },
    clickDelete (employee) {
      let index = this.employeeList.findIndex(
        (item) => item.id === employee.id
      )
      this.employeeList.splice(index, 1)
    }
  }
}
</script>

<style>
.table-edits th,td{
  border: 1px solid gray;
  padding: 50px 0px;
  box-sizing: border-box;
}
.table-edits {
  width: 100%;
  border: 1px solid gray;
  empty-cells: hide;
  margin-bottom: 50px;
  text-align: center;
  color: black;
}
.hid {
  border: none !important;
  text-align: center !important;
}
.tong {
  border: none;
}
</style>
