<template>
<div class="dash-employee">
<ValidationObserver v-slot="{ handleSubmit }">
  <form action="" method="" @submit.prevent="handleSubmit(onSubmit)">
    <ValidationProvider name="nameInput" rules="required|alpha" v-slot="{ errors }">
    <div class="form-group">
      <label for="nameInput"> Name </label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        name="nameInput"
        v-model="employee.name"
      />
      <span> {{ errors[0] }} </span>
      <!-- <div class="error" v-if="!$v.name.minLength">Tên tối thiểu {{$v.name.$params.minLength.min}} kí tự</div> -->
      <!-- <span>{{errors.first('name')}} </span> -->
    </div>
    </ValidationProvider>
    <div class="form-group">
      <label for="addressInput"> Address </label>
      <input
        type="text"
        class="form-control"
        id="addressInput"
        v-model="employee.address"
      />
      <!-- <div class="error" v-if="!$v.address.minLength">Tên tối thiểu {{$v.address.$params.minLength.min}} kí tự</div> -->
    </div>
    <div class="form-group">
      <label for="phoneInput"> Phone </label>
      <input
        type="text"
        class="form-control"
        id="phoneInput"
        v-model="employee.phone"
      />
    </div>
    <!-- <div class="btn btn-primary" @click="clickSave()">Save</div> -->
    <input type="submit" class="btn btn-primary" @click="clickSave()" value="Submit">
  </form>
</ValidationObserver>
</div>
</template>

<script>
export default {
  name: 'EditEmployee',
  data () {
    return {
      // formData: {
      //   name: ''
      // }
    }
  },
  props: {
    employee: Object
  },
  methods: {
    clickSave () {
      this.$emit('save', this.employee)
    },
    onSubmit () {
      console.log('oke')
    }
  }
}
</script>

<style>
</style>
