<template>
  <section class="container5">
    <input type="text" v-model="postBody" @change="postPost()" />
    {{ postBody }}
    <ul v-if="errors && errors.length">
      <li v-for="error of errors" :key="error.id">
        {{ error.message }}
      </li>
    </ul>
  </section>
</template>

<script>
import axios from 'axios'

export default {
  name: 'excomp',
  data: () => ({
    postBody: '',
    errors: []
  }),
  methods: {
    postPost: function () {
      axios
        .post('http://jsonplaceholder.typicode.com/posts', {
          body: this.postBody
        })
        .then((response) => {})
        .catch((e) => {
          this.errors.push(e)
        })
        .finally(() => {
          alert('xong')
        })

      // async / await version (postPost() becomes async postPost())
      //
      // try {
      //   await axios.post('http://jsonplaceholder.typicode.com/posts', {
      //     body: this.postBody
      //   })
      // } catch (e) {
      //   this.errors.push(e)
      // }
    }
  }
}
</script>
