<template>
  <div class="container">
    <section class="content bgcolor-1">
      <form action="" @submit.prevent="login">
      <h2 class="login-title">LOGIN</h2>
      <span class="input input--fumi">
        <input
          class="input__field input__field--fumi"
          type="text" name="username"
          id="input-23" v-model="username"
        />
        <label class="input__label input__label--fumi" for="input-23">
          <i class="fa fa-fw fa-university icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi"
            >Username</span
          >
        </label>
      </span>

      <span class="input input--fumi">
        <input
          class="input__field input__field--fumi"
          type="text" name="password"
          id="input-24" v-model="password"
        />
        <label class="input__label input__label--fumi" for="input-24">
          <i class="fa fa-fw fa-graduation-cap icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi"
            >Password</span
          >
        </label>
      </span>

      <!-- <span class="input input--fumi">
        <input
          class="input__field input__field--fumi"
          type="text"
          id="input-25"
        />
        <label class="input__label input__label--fumi" for="input-25">
          <i class="fa fa-fw fa-suitcase icon icon--fumi"></i>
          <span class="input__label-content input__label-content--fumi"
            >Work Place</span
          >
        </label>
      </span> -->
      <button type="submit" class="fumi-button">SUBMIT</button>
      <!-- <input type="submit" value="submit" @click.prevent="login"> -->
      <!-- <div class="btn btn-primary" @click.prevent="login()"> CLICK</div> -->
      </form>
    </section>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'log',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login () {
      this.$store.dispatch('retrieveToken', {
        username: this.username,
        password: this.password
      })
      .then(response => {
        this.$router.push({ name: 'compheader' })
      })
    }
  }
}
</script>

<style scoped>
/* @font-face {
font-family: 'DancingScript';
src:url{../fonts/DancingScript-Bold.ttf};
} */
/* @import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap'); */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Henny Penny', cursive; */
}
.fumi-button {
  width: 80%;
  padding: 0.5em 0;
  background-color: white;
  border: none;
  font-weight: 500;
}
.login-title {
  color: rgb(26, 17, 0);
}
button,
.input__field,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
/* body {
  font-weight: 500;
  font-size: 1.05em;
  font-family: "DancingScript", cursive;
} */
.container {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* height: 100vh; */
}
.content {
  font-size: 120%;
  padding: 3em 0;
}
.bgcolor-1 {
  background: #f0efee;
}
.container .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}
.button_chitaso {
  width: 100%;
  background: #da6484;
  border: none;
  border-radius: 5px;
  padding: 20px;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.6em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  border-radius: 5px;
  /* margin-top: 10px; */
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  /* float: right; */
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  opacity: 0.7;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

/* Fumi */
.input--fumi {
  background: #fff;
  overflow: hidden;
  padding: 0.25em 0;
}

.input--fumi::after {
  content: "";
  width: 1px;
  position: absolute;
  top: 0.5em;
  bottom: 0.5em;
  left: 2.5em;
  background: #f0f0f0;
  z-index: 100;
}
/* sửa */
.input__field--fumi {
  background: transparent;
  padding: 1.1em 1em 0.25em 3.15em;
  width: 100%;
  color: #00aeef;
}

.input__label--fumi {
  position: absolute;
  width: 100%;
  text-align: left;
  padding-left: 4.5em;
  pointer-events: none;
}

.icon--fumi {
  width: 2em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.9em 0 0 0.5em;
}

.input__label-content--fumi {
  padding: 0.25em 0;
  display: inline-block;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.input__label-content--fumi span {
  display: inline-block;
}

/* .input__field--fumi:focus + .input__label--fumi .input__label-content--fumi,
.input--filled .input__label-content--fumi {
  -webkit-animation: anim-fumi-1 0.3s forwards;
  animation: anim-fumi-1 0.3s forwards;
} */

/* @-webkit-keyframes anim-fumi-1 {
  50% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  51% {
    -webkit-transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
  }
  100% {
    color: #a3a3a3;
    -webkit-transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
  }
} */

/* @keyframes anim-fumi-1 {
  50% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  51% {
    -webkit-transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
  }
  100% {
    color: #a3a3a3;
    -webkit-transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
    transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
  }
} */

/* .input__field--fumi:focus + .input__label--fumi .icon--fumi,
.input--filled .icon--fumi {
  -webkit-animation: anim-fumi-2 0.3s forwards;
  animation: anim-fumi-2 0.3s forwards;
} */

/* @-webkit-keyframes anim-fumi-2 {
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
  }
  50.25% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
  }
  50.75% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  51% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #00aeef;
  }
} */

/* @keyframes anim-fumi-2 {
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
  }
  50.25% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3em, 0);
    transform: translate3d(0, -3em, 0);
  }
  50.75% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  51% {
    opacity: 1;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #00aeef;
  }
} */
</style>
