<template>
<h1>Logout </h1>
</template>

<script>
/* eslint-disable */
export default {
  name: 'lout',
  created () {
    this.$store.dispatch('destroyToken')
    .then(response => {
    this.$router.push({ name: 'log' })
    })
  }
}
</script>

<style>
</style>
