<template>
  <div class="container">
    <section class="content bgcolor-1">
      <form action="" @submit.prevent="register">
        <h2 class="login-title">LOGIN</h2>
        <span class="input input--fumi">
          <input
            class="input__field input__field--fumi"
            type="text"
            name="username"
            id="input-23"
            v-model="username"
          />
          <label class="input__label input__label--fumi" for="input-23">
            <i class="fa fa-fw fa-university icon icon--fumi"></i>
            <span class="input__label-content input__label-content--fumi"
              >Username</span
            >
          </label>
        </span>

        <span class="input input--fumi">
          <input
            class="input__field input__field--fumi"
            type="text"
            name="password"
            id="input-24"
            v-model="password"
          />
          <label class="input__label input__label--fumi" for="input-24">
            <i class="fa fa-fw fa-graduation-cap icon icon--fumi"></i>
            <span class="input__label-content input__label-content--fumi"
              >Password</span
            >
          </label>
        </span>

        <span class="input input--fumi">
          <input
            class="input__field input__field--fumi"
            type="text"
            id="input-25"
            v-model="email"
          />
          <label class="input__label input__label--fumi" for="input-25">
            <i class="fa fa-fw fa-suitcase icon icon--fumi"></i>
            <span class="input__label-content input__label-content--fumi"
              >Email</span
            >
          </label>
        </span>
        <button type="submit" class="fumi-button">SUBMIT</button>
        <!-- <input type="submit" value="submit" @click.prevent="login"> -->
        <!-- <div class="btn btn-primary" @click.prevent="login()"> CLICK</div> -->
      </form>
    </section>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: "vitest",
  data() {
    return {
      username: "",
      password: "",
      email: "",
    };
  },
  methods: {
    register () {
      this.$store
        .dispatch("register", {
          username: this.username,
          password: this.password,
          email: this.email
        })
        .then((response) => {
          this.$router.push({ name: "log" })
        })
    }
  }
}
</script>

<style>
</style>
