<template>
  <div class="container-test">
    <ul>
      <li v-for="post in posts" :key="post.id">
        {{ post.title }}
        <img v-bind:src="post.url" alt="" style="width:100px; height: 100px"/>
        <img :src="post.thumbnailUrl" alt="" srcset=""/>
      </li>
      <h1 style="color:red !important"> {{ error }}</h1>
    </ul>
    <form>
    <input type="text" required>
    <input type="submit">
    </form>
  </div>
</template>

<script>
import axios from 'axios'
// window.axios = require('axios')
export default {
  name: 'testapi',
  data () {
    return {
      posts: null,
      error: ''
    }
  },
  mounted: function () {
    this.error = ''
    axios
      .get('http://jsonplaceholder.typicode.com/photos')
      .then((response) => (
        this.posts = response.data
      ))
      .catch((error) => (
        // this.posts = [{ title: error + ' Notfound' }]
        this.posts = {'Notfound': error}
      ))
  }
}
</script>

<style>
*{
  padding: 0;
  margin: 0;
}
.container-test {
  color: black;
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.container-test li {
  list-style: none;
  background-color: teal;
  padding: 10px 0px;
  margin: 10px 0px;
  color: white;
}
</style>
