<template>
  <form class="box-provide">
    <div class="form-control">
      <label> Name</label>
      <input type="text" id="name" v-model.trim="$v.ffname.$model" :class="{ 'is-invalid':$v.ffname.$error, 'is-valid':!$v.ffname.$invalid }" />
      <div class="valid-feedback"> Dữ liệu điền vào hợp lý </div>
      <div class="invalid-feedback"> <span v-if="!$v.ffname.required">VKL </span> <span v-if="!$v.ffname.minLength"> alo {{$v.ffname.$params.minLength.min}} ký tự </span> </div>
      <div class="error" v-if="!$v.ffname.minLength">
        Tên tối thiểu {{ $v.ffname.$params.minLength.min }} kí tự
      </div>
    </div>
  </form>
</template>

<script>
/* eslint-disable */
import { required, minLength } from 'vuelidate/lib/validators'
export default {
  name: "VProvide",
  data() {
    return {
      ffname: "",
    };
  },
  validations: {
    ffname: {
      required,
      minLength: minLength(5),
    },
  },
};
</script>

<style>
.box-provide {
    margin-bottom: 30px;
}
</style>