<template>
  <div id="app">
    <nav>
      <div class="logo">VYTRINH</div>
      <label for="btn" class="icon">
        <span class="fa fa-bars"> </span>
      </label>
      <input type="checkbox" id="btn" />
      <ul>
        <li><a href="/#/home">Home</a></li>
        <li>
          <label for="btn-1" class="show"> Contact + </label>
          <a href="">Contact</a>
          <input type="checkbox" class="btn-1" />
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">User</a></li>
          </ul>
        </li>
        <li>
          <label for="btn-2" class="show">Design +</label>
          <a href="#">Design</a>
          <input type="checkbox" id="btn-2" />
          <ul>
            <li><a href="#">WEB Design</a></li>
            <li><a href="#">App Design</a></li>
            <li>
              <label for="btn-3" class="show">More +</label>
              <a href="#">More <span class="fa fa-plus"> </span></a>
              <input type="checkbox" id="btn-3" />
              <ul>
                <li><a href="#">Vuejs</a></li>
                <li><a href="#">Nodejs</a></li>
                <li>
                  <a href="#">Angular </a>
                  <label for="btn-3" class="show">More</label>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Services</a></li>
        <li>
          <a href="#"> Languages </a>
          <ul>
          <li><a style="cursor:pointer; color:blue" @click="setLocale('en')"> Anh </a></li>
          <li><a style="cursor:pointer; color:red" @click="setLocale('vn')"> Việt </a></li>
          </ul>
        </li>
        <!-- <li> <router-link :to=" { name: 'compheader' }">hd</router-link> </li>
        <li v-if="loggedIn"> <router-link :to="{ name: 'lout' }">out</router-link> </li>
        <li v-if="!loggedIn"> <router-link :to="{ name: 'log' }">lo</router-link> </li>
        <li v-if="!loggedIn"> <router-link :to="{ name: 'regi' }">re</router-link> </li> -->
      </ul>
    </nav>
    <!-- <div class="load">
    <div id="loading-container">
        <span>Loading...</span>
    </div>
    </div> -->
    <router-view />
    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About us</h2>
          <div class="content">
            <p>Welcome to summonarift</p>
            <div class="social">
              <a href="https://facebook.com/coding.np"
                ><span class="fab fa-facebook-f"></span
              ></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href="https://instagram.com/coding.np"
                ><span class="fab fa-instagram"></span
              ></a>
              <a href="https://youtube.com/c/codingnepal"
                ><span class="fab fa-youtube"></span
              ></a>
            </div>
          </div>
        </div>

        <div class="center box">
          <h2>Address</h2>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text">Go Vap</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text">0987257590</span>
            </div>
            <div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text">vychich123456@gmail.com</span>
            </div>
          </div>
        </div>

        <div class="right box">
          <h2>Contact us</h2>
          <div class="content">
            <form action="#">
              <div class="email">
                <div class="text">Email *</div>
                <input type="email" required />
              </div>
              <div class="msg">
                <div class="text">Message *</div>
                <textarea id=".msgForm" rows="2" cols="25" required></textarea>
                <br />
                <div class="btn">
                  <button type="submit">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="bottom">
        <center>
          <span class="credit"
            >Created By
            <a href="https://youtube.com/c/codingnepal">Vytrinh</a> |
          </span>
          <span class="far fa-copyright"></span> 2020 All rights reserved.
        </center>
      </div>
    </footer>
  </div>
</template>

<script>
/* eslint-disable */
// import vitest from './components/vitest'
import compinput from './components/compinput'
export default {
  name: 'App',
  // methods: {
  //   beforeCreate: function () {
  //     this.$options.components.vitest = require('./components/vitest.vue').default
  //   }
  // },
  data () {
    return {
      count: 0
    }
  },
  components: {
    // vitest: () => import('./components/vitest.vue')
    // vitest,
    compinput
  },
  methods: {
    setLocale (locale) {
      this.$i18n.locale = locale
    }
  },
  computed: {
    loggedIn () {
      return this.$store.getters.loggedIn
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* user-select: none; */
  list-style: none;
}
/* Begin CSS loading */
.load {
  /* height: 100vh; */
  padding: 0;
  margin: 0;
  /* background-color: royalblue; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#loading-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 15px solid #e74c3c;
  box-sizing: border-box;
  position: relative;
  animation: a1 2s linear infinite;
  background-color: rgb(11, 96, 224);
}
#loading-container::before,
#loading-container::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}
#loading-container::before {
  border-top: 15px solid #e67e22;
  transform: rotate(120deg);
}
#loading-container::after {
  border-top: 15px solid #3498db;
  transform: rotate(240deg);
}
#loading-container span {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}
@keyframes a1 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}
/* button {
        background-color: royalblue;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: wheat;
        text-decoration: none;
    } */
#loading-container {
  display: block;
}
#button {
  display: none;
}
/* End css loading */
nav {
  width: 100%;
  background-color: black;
}
nav:after {
  display: table;
  content: "";
  clear: both;
}
nav .logo {
  font-size: 27px;
  color: white;
  float: left;
  padding-left: 60px;
  line-height: 70px;
}
nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
/* sửa */
nav ul li {
  /* float: left; */
  display: inline-block;
  background: black;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  line-height: 70px;
  padding: 8px 15px;
  font-size: 18px;
}
nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #33ffff, 0px 0px 10px #66ffff;
}
nav ul ul li a:hover {
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
nav ul ul ul {
  border-top: none;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li a {
  line-height: 50px;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.show,
.icon,
#btn,
.btn-1,
#btn-2,
#btn-3 {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}
/*end menu*/
/*footer*/
* {
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
}
.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer {
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form .msgForm {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
  /* background-color: rebeccapurple; */
  background-color: rgb(250, 245, 255);
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #000;
}
.msg textarea {
  width: 100%;
  /* background-color: rebeccapurple; */
  background-color: rgb(250, 245, 255);
  height: 35px;
}
.bottom {
  width: 100%;
  float: left;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

/*end footer*/
</style>
